body{
    max-width: 1100px;
    margin: auto;
    margin-top: 4px;
}
header{
    border-style: solid solid solid none  ;
    text-align: center;
    border-width: thin;
    border-right-width: 15px;
    height: 1.5rem;
    font-size: 20px;
    
}
aside::first-line {
    font-weight: bold;
  }
  
aside{
    border-right-style: solid;
    border-right-width: 15px;
    border-color: #444466;
    float: right;
    text-align: right;
    padding-right: 10px
}

h1{
    font-size: 44px;
    padding: 10px;
    max-width: 750px;
    
}


article{
    background-image: url("WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position: center 40px; 
    max-width: 800px;
    margin: 0 auto;  
    padding: 10px; 
    line-height: 20px;
}

h2{
    font-style: italic;
    max-width: 1000px;
    word-wrap: break-word;
    text-align: center;
}

section{
    border-style: solid;
    border-left-width: 40px;
    border-color: #008000;
    padding: 10px;
    background-color:#ffffee ;

}
section a{
    font-weight: 700;
}

footer{
    border-top:solid ;
    color: #aaaaaa;
    display: flex;       
    justify-content: flex-end;
    font-style: italic;

}

footer a{
    font-style: italic;

    color: #aaaaaa;

}